body {
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  border: 2px solid green;
  background-color: #384395;
}

img {
  width: 100%;
  height: auto;

  animation: loading 1s ease-in forwards;
  opacity: 0;
}
svg {
  animation: loading 1s ease-in forwards;
  opacity: 0;
  margin-top: 10%;
}
@keyframes loading {
  to {
    opacity: 1;
  }
}
a {
  text-decoration: none;
}

.btn {
  width: 12%;
  height: 6%;
  border-radius: 25px;
  background-color: #3f559e;
  color: white;
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid grey;
  transition: all 0.3s;
}

.btn:hover {
  background-color: white;
  font-family: "Dosis", sans-serif;
  color: #3f559e;
}

#projects {
  margin-left: 30%;
}

.contain {
  display: flex;
  margin-left: 47%;
}
.cls-1 {
  fill: #868686;
}

@media (min-width: 1200px) {
  svg {
    margin-top: -0.5%;
  }
  .contain {
    margin-top: 0;
  }
}
